<div style="text-align:center;padding-left: 10%;padding-right:10%;">
  <header class="app-header">
    <h1 class="app-title">AppNeta</h1>
  </header>
  <table style="border-spacing: 0px;">
    <td *ngFor="let pill of summaryPills">{{pill.nat}}: {{pill.count}}</td>
  </table>
  <input class="search-container" matInput (keyup)="applyFilter($event.target.value)" type="text" placeholder="Search">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="show-arrow">Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="nat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nationality</th>
      <td mat-cell *matCellDef="let element"> {{element.nat}} </td>
    </ng-container>
    <ng-container matColumnDef="pos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
      <td mat-cell *matCellDef="let element"> {{element.pos}} </td>
    </ng-container>
    <ng-container matColumnDef="height">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Height</th>
      <td mat-cell *matCellDef="let element"> {{element.height | number}} </td>
    </ng-container>
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
      <td mat-cell *matCellDef="let element">{{element.weight | number}} </td>
    </ng-container>
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</th>
      <td mat-cell *matCellDef="let element"> {{element.dob | date: 'yyyy-MM-dd'}} </td>
    </ng-container>
    <ng-container matColumnDef="birthplace">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Birthplace</th>
      <td mat-cell *matCellDef="let element"> {{element.birthplace}} </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Jersey Number</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>